/* $Id$ */

/* Color scheme

    text:
        #000000 (default)
        #006600 (links)
        #009900 (hover links)

    backgrounds/borders:
        #aaccaa (darkest green)
        #ddeedd (green)
        #ffffee (general background)

*/

.empty000000 {

}


body {
    padding: 0;
    background-color: #FFFFFF;
    color: #000000;
    height: 100%;
    font-size: 13px;
    font-family: verdana, arial, sans-serif;
    margin: 5px;
}

/* Makes over wide pres grow scroll bars */
pre { overflow: auto }

a {
    color: #006600;
    text-decoration: none;
}
a:hover {
    color: #009900;
    text-decoration: underline;
}

a.hand {
	cursor: pointer;
/*	cursor: hand; */
}

a.warn { color:red; }

table {
    padding: 0;
    border: 0;
    width: 100%;
    text-align: left;
}
table.tablebackground { 
    background-color: #ffffee; 
}


tr {
    text-align: left;
}
tr.rowtitle0 {
    background-color: #aaccaa; 
}
tr.rowtitle1 {
    background-color: #ffffee;
}
tr.rowtitle2 { 
    background-color: #f0f7e9;
}
tr.rowtitle3 { 
    background-color: #FFFFFF;
}
tr.submissionrow { 
    background-color: #FFFFFF; 
}
tr.formtabletitle { 
    background-color: #ddeedd;
}


td {
    text-align: left;
/*    align: center; */
    font-size: 13px;
    vertical-align: top;
}
td.center {
    text-align: center;
}
td.delimiter { 
    width: 1px;
}
    
th {
    font-size:13px;
    font-weight:bold;
    background-color: #aaccaa;
}


#header {
    height: 80px;
}
#header .headleft {
    float: left;
}
#header .headright {
    background-color: transparent;
    float: right;
}
#header hr {
    border: none;
    background-color: #aaccaa; /* for mozilla */
/*    color: #aaccaa;            /* for ie */
    margin-top: 10px;
    clear: both;
    height: 1px;
    width: 100%;
}
#header form {
    display: inline;
}
#header a:link, #header a:visited {
    text-decoration: none;
}
#header a:active, #header a:hover {
    text-decoration: underline;
}


#navbar {
    position: relative;
/*    witdh: 100%; */
    height: 23px;
    background: #ddeedd;
    border-bottom: 1px solid #006600;
    border-top: 1px solid #006600;
    font-size: 0.9em;
    margin-bottom: 30px;
}
#navbar ul#navigation {
    margin: 0px;
    padding: 0px;
    position: absolute;
    width: 100%;
}
#navbar ul#navigation li {
    display: inline;
    list-style: none;
}
#navbar ul#navigation a, 
#navbar ul#navigation span, 
#navbar ul#navigation a.current {
    display: block;
    float: left;
    padding: 2px 10px 3px 10px;
    margin: 0px 2px 3px 0px;
    text-align: center;
    text-decoration: none;
}
#navbar ul#navigation span,
#navbar ul#navigation a.current, 
#navbar ul#navigation a.current:hover {
    color: #000000;
    background: #aaccaa; 
}
#navbar ul#navigation a {
    color: #555555;
    background: #ddeedd;
}
#navbar ul#navigation a:hover {
    color: #000000;
    border-color: #000000;
    background: #aaccaa;
}
#navbar ul#navigation a:hover,
#navbar ul#navigation a, 
#navbar ul#navigation span, 
#navbar ul#navigation a.current {
    padding-bottom: 3px;
}


#navbar ul#subnavigation {
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 24px;
    left: 0px;
    width: 100%;
    background: #aaccaa;
    font-size: .95em;
    border-bottom: 1px solid #000000;
}
#navbar ul#subnavigation li a,
#navbar ul#subnavigation li span {
    width: auto;
    display: block;
    float: left;
    padding: 2px 10px 2px 10px;
    margin: 0px;
/*    text-align: auto; */
    background: #aaccaa;
    border: none;
    border-right: 1px dotted #000000;
    font-size: 1em;
}
#navbar ul#subnavigation li a {
    color: #003300;
    text-decoration: underline; 
}
#navbar ul#subnavigation li a:hover {
    background: transparent;
    padding: 2px 10px 2px 10px;
    text-decoration: underline;
    border: none;
    border-right: 1px dotted #000000;
}
#navbar ul#subnavigation li a:active {
    color: #000000;
    background: transparent;
}
#navbar ul#subnavigation li:last-child a,
#navbar ul#subnavigation li:last-child span { 
    border: none; 
}

#navbar ul#subnavigation li a.subnav_selected {
	text-decoration: none;
	color: #000000;
}
#navbar ul#subnavigation li a:hover.subnav_selected {
	color: #006600;
}
	




html>body, html>body #contents {
    height: auto;
}
#content {
    clear: left;
}
#content h3 {
    font-size: 1.2em;
    background-color: #c2bed8;
    width: 100%;
}


#sectiontools {
/*
    padding: 5px 5px 5px 5px;
    background-color: #f2f2f2;
    margin-bottom: 3em;
*/
}
#sectiontools fieldset {
    border: 2px solid #ddeedd;
    /* border-top: 15px solid #ddeedd; */
    background-color: #ffffee;
    margin-left: 0px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 10px;
    float: left;
}
#sectiontools fieldset.large {
    width: 65%;
}
#sectiontools fieldset.medium {
    width: 45%;
}
#sectiontools fieldset.small {
    width: auto;
}
#sectiontools legend {
    font: bold 0.9em tahoma, verdana, sans-serif;
    background-color: #ddeedd; /* this should be whatever border is above under "#sectiontools fieldset" */
}
#sectiontools input {
    font-size: 10pt;
}
#sectiontools input.txt {
    color: #003300;
    border: 1px inset #006600;
    width: 120px;
}
#sectiontools input.shorttxt {
    color: #003300;
    border: 1px inset #006600;
    width: 58px;
}
#sectiontools input.ethertxt {
    color: #003300;
    border: 1px inset #006600;
    width: 150px;
}
#sectiontools input.longtxt {
    color: #003300;
    border: 1px inset #006600;
    width: 240px;
}
#sectiontools input.btn {
    color: #003300;
    border: 1px outset #006600;
}
#sectiontools select.dropdown {
    color: #003300;
    border: 1px outset #006600;
}
#sectiontools form p {
    clear: left;
    margin: 0;
    padding: 0;
    padding-top: 5px;
}
#sectiontools form p label {
    float: left;
    width: 20%;
}


#sectiondetail {
    clear: left;
/*
    padding: 5px 5px 5px 5px;
    background-color: #f2f2f2;
    margin-bottom: 3em;
    float: left;
*/
}



.note { 
    border: none; 
    padding: 1em; 
    background: rgb(255,204,153); 
    width: 50%; 
}

.container {
    clear: both;
    background-color: #ffffee;
    border: 3px #ddeedd solid;
    margin-bottom: 5px;
}

.containerheadleft {
    float: left;
    background-color: #ddeedd;
    font: bold 0.9em tahoma, verdana, sans-serif;
}

/* For partitioning container bodies into sections.  See its use for
comment sections */
div.containerseparator { 
    background-color: #ddeedd;
    font: bold 0.9em tahoma, verdana, sans-serif;
}

/* For simple (doesn't work with nested width 100% tables) two column
layout without tables. Looks a little strange if the window is small.
*/

/* You *must* follow with cleared content to force the floated
elements to be considered "in the flow" (i.e. to get any enclosing
divs to respect the containment and not pull their borders up leaving
the contained divs floating in space).  Using an empty 

<div style="clear: both"></div> 

works just fine. */
div.left { float: left; margin: 4px; margin-right: 0px }
div.right { float: right; margin: 4px; margin-left: 0px }
/* Put an empty div of this class under any left right pair */
div.clear { clear: both }

.containerheadright {
    text-align: right;
    background-color: #ddeedd;
    font-size: 0.9em;
}

.containerhead {
    background-color: #ddeedd;
    font: bold 0.9em tahoma, verdana, sans-serif;
}

.containerbody {
    clear: both;
}

.containeroutside {
    width: 99.5%; 
    clear: both;
    background-color: #ffffee;
    border: 3px #aaccaa solid;
    float: left;
}

.containerheadleftoutside {
    float: left;
    background-color: #aaccaa;
    font: 1em tahoma, verdana, sans-serif;
    padding: 2px;
}

.containerheadrightoutside {
    text-align: right;
    background-color: #aaccaa;
    font-size: 0.9em;
    padding: 2px;
}

.containerheadoutside {
    background-color: #aaccaa;
    font: bold 0.9em tahoma, verdana, sans-serif;
    padding: 2px;
}

.containerbodyoutside {
    clear: both;
    padding: 4px;
}



  .formtablec1	    { background-color: #ffffee; text-align: right}
  .formtablec2	    { background-color: #f0f7e9; text-align: left; vertical-align: bottom; }
  .formtabletitle   { background-color: #aaccaa; text-align: left; font-weight: bold; }
  .datatabler1      { background-color: #ffffee; }
  .datatabler2      { background-color: #f0f7e9; }

  .datatabler1_ipb  { background-color: #ffffee; font-size: 8pt; }
  .datatabler2_ipb  { background-color: #f0f7e9; font-size: 8pt; }



  .small      { font-size: 8pt; }

  .containertable {
     border-collapse: collapse;
  }

  .containertable_cell {
     font-size: 6pt;
     padding: 0px;
     margin: 0px;
     border: 1px #FFFFFF solid;
  }


  .datatabler1_con  { 
    background-color: #ffffee; 
    font-size: 8pt; 
    padding: 0px;
    margin: 0px;
  }
  .datatabler2_con  { 
    background-color: #f0f7e9; 
    font-size: 8pt; 
    padding: 0px;
    margin: 0px;
  }

/*
 * Prefer addresses to be centered in the ipblock view of a subnet.
 */
table > * > tr > td.datatabler1_ipb div,
table > * > tr > td.datatabler2_ipb div {
    text-align: center;
}

    .ipaddr_disabled { background-color: #cccccc; }
    .ipaddr_disabled_2 { background-color: #dddddd; }
    .ipaddr_reserved { background-color: #cccccc; }
    .ipaddr_reserved_2 { background-color: #bbbbbb; }
    .ipaddr_static { background-color: #ff6666; }
    .ipaddr_static_2 { background-color: #ee5555; }
    .ipaddr_subnet { background-color: #ff6666; }
    .ipaddr_subnet_2 { background-color: #ee5555; }
    .ipaddr_dynamic { background-color: #ff9966; }
    .ipaddr_dynamic_2 { background-color: #ee8855; }
    .ipaddr_available { background-color: #bbddbb; }
    .ipaddr_available_2 { background-color: #aaccaa; }
    .ipaddr_container { background-color: #ffee77; }
    .ipaddr_container_2 { background-color: #eedd66; }
    .ipaddr_discovered { background-color: #9999ff; }
    .ipaddr_discovered_2 { background-color: #0000ee; }


    .ipaddr_disabled:hover { background-color: #eeeeee; }
    .ipaddr_disabled_2:hover { background-color: #eeeeee; }
    .ipaddr_reserved:hover { background-color: #eeeeee; }
    .ipaddr_reserved_2:hover { background-color: #eeeeee; }
    .ipaddr_static:hover { background-color: #ff9999; }
    .ipaddr_static_2:hover { background-color: #ff9999; }
    .ipaddr_subnet:hover { background-color: #ff9999; }
    .ipaddr_subnet_2:hover { background-color: #ff9999; }
    .ipaddr_dynamic:hover { background-color: #ffcc99; }
    .ipaddr_dynamic_2:hover { background-color: #ffcc99; }
    .ipaddr_available:hover { background-color: #ddffdd; }
    .ipaddr_available_2:hover { background-color: #ddffdd; }
    .ipaddr_container:hover { background-color: #ffffAA; }
    .ipaddr_container_2:hover { background-color: #ffffAA; }
    .ipaddr_discovered:hover { background-color: #6666ff; }
    .ipaddr_discovered_2:hover { background-color: #6666ee; }

.ipcontainertable {
    margin-left:auto; 
    margin-right:auto;

    border-spacing:0;
    border-collapse: collapse;
}

.ipcontainertable td {
    border-spacing:0;
}


hr
{
  border-style:solid;
  border-width:1px;
  border-color:#ddeedd;
  border-collapse: collapse;
}

#footer {
    width: 100%;
    height: 3em;
    margin-top: 10px;
    border-top: 1px solid #aaccaa;
    font-size: 70%;
    clear: both;
}
#footer p {
    margin: 0;
    padding: 0;
}
#footer a:link, #header a:visited {
    text-decoration: none;
}
#footer a:active, #header a:hover {
    text-decoration: underline;
}


#loginform {
    width: 320px;
}
#loginform table.logintable {
    width: 200px;
}




.progress_bar {
    width: 99%;
    height: 16px;
    border: 1px #006600 solid;
    background-color: #ffffee;
}
.progress_used {
    height: 16px;
    border: 0px;
    background-color: #aaccaa;
}

.progress_bar2 {
    width: 99%;
    height: 16px;
    border: 1px #006600 solid;
    background-color: #ffffee;
}
.progress_used2_n {
    height: 8px;
    border: 0px;
    background-color: #aaccaa;
}
.progress_used2_s {
    height: 8px;
    border: 0px;
    background-color: #669966;
}


/*
          a:link           {text-decoration: none; color:blue}
          a:visited        {text-decoration: none; color:purple}
          a:active         {text-decoration: underline;}
          a:hover          {text-decoration: underline;}
	  


  .headertable      { background-color: #FFFFFF;  }
          a.headerfont:link           {text-decoration: none; color:#FFFFFF}
          a.headerfont:visited        {text-decoration: none; color:#CCCCCC}
          a.headerfont:active         {text-decoration: underline;}
          a.headerfont:hover         {text-decoration: underline;}
	   .headerfont                { color: #FFFFFF }

  .footertable      { background-color: #FFFFFF; }
          a.footerfont:link           {text-decoration: none; color:#FFFFFF}
          a.footerfont:visited        {text-decoration: none; color:#CCCCCC}
          a.footerfont:active         {text-decoration: underline;}
          a.footerfont:hover         {text-decoration: underline;}
	   .footerfont                { color: #FFFFFF }

  .utilitytable     { background-color: #FFFFFF; }
          a.utilityfont:link           {text-decoration: none; color:#000000}
          a.utilityfont:visited        {text-decoration: none; color:#CCCCCC}
          a.utilityfont:active         {text-decoration: underline;}
          a.utilityfont:hover         {text-decoration: underline;}
	   .utilityfont                { color: BLACK }

*/

  .searchbox        { background-color: #CCCCCC; }

  .tabletitle       { background-color: #c2bed8; text-align: left}


  .formtablebg	    { background-color: #ffffee; text-align: left}

  .formtabletl	    { background-color: #6ab1f0; text-align: left}



  
  



  .column1          { background-color: #ffffee;    text-align: right; }
  .column2          { background-color: #f0f7e9;    text-align: left; }


  .red { background-color: red;}


/* note on float css hack:
In Firefox, a div block containing an input tag doesn't stretch
its width when the input tag is too big for the block.
The result is the tag explodes out of the containing
block, messing up the borders and background.
Note, IE doesn't have this problem.
*/

