<%perl>
my $locker = new Apache::Session::Lock::File ;
$locker->clean( $DIR, 3600 );  # remove files older than 1 hr
my %rev = reverse %ARGS;
foreach my $j ( keys %ARGS ) {
  if( $ARGS{$j} eq "New" ) {
    $TBL = $j;
    next;
  }
  next if( $ARGS{$j} !~ /\w+/ );
  $args{$j} = $ARGS{$j};
}
##################################################
# defined TBL (if not already) and set previous table was for reference
if( $TBL && $args{table} ) {
  $PREV = $args{table}
} elsif( ! defined( $TBL ) ) {
  $TBL = $args{table};
}
unless( defined( $PREV ) ) {
  $PREV = $TBL;
}
##################################################
# get state back
if( defined( $args{sid} ) ) {
  $sid = $args{sid};
}
if( $TBL ) {
  tie %session, 'Apache::Session::File', 
    $sid, { Directory => $DIR, LockDirectory => $DIR };
  $sid = $session{_session_id};
}
##################################################
# if Cancel, delete state
if( $args{submit} eq "Cancel" ) {
  undef( $TBL );
  undef( $PREV );
  tied(%session)->delete;
  delete( $args{sid} );
  delete( $args{table} );
  delete( $args{submit} );
  delete( $ARGS{ $rev{New} } );
  delete( $rev{New} );
}
##################################################
# fill in the rest of state details
if( exists( $args{submit} ) || exists( $rev{New} ) ) {
  foreach my $arg ( keys %args ) {
    next if( $arg eq "submit" || $arg eq "sid" 
             || $arg eq "table" || $arg eq "commit" );
    $session{tables}{$PREV}{$arg} = $args{$arg};
  }
  if( ! defined( $args{submit} ) ) {
    defined( $session{path} ) ?
      ( $session{path} .= ";$args{table}" ) 
      : ( $session{path} = "$args{table}" );
  }
}
if( exists( $args{submit} ) ) {
  my @tbls = split( /;/, $session{path} );
  $TBL = pop @tbls;
  $session{path} = join( ';', @tbls );
}
##################################################
# if commit, handle here

</%perl>

% ####################################################################
<p>
<& header, title =>"$TBL Create" &>

% if( $args{"submit"} eq "Submit" && ! defined( $TBL ) ) {

    <p>Please confirm the following:
%   foreach my $T ( keys %{ $session{tables} } ) {
%     my $obj = (Meta->search( name => $T ))[0];
%     my %linksto;
%     map { my($j, $k) = split( /:/, $_ ); $linksto{$j} = $k } 
%         split( /,/, $obj->linksto );
      <p><blockquote><strong><% $T %></strong><ul>
%     foreach my $C ( keys %{ $session{tables}{$T} } ) {

        <li><% $C %> : <% $session{tables}{$T}{$C} %>
%     }
      </ul></blockquote>
%   }
    <form action="create.html" method="POST">
    <input type="hidden" name="sid" value="<% $sid %>">
    <input name="commit" value="Submit" type="submit">
%   tied(%session)->delete if( %session );

% } elsif( ! $TBL || $args{submit} eq "Cancel" ) {

%   my @t = Meta->retrieve_all();

    <p>Please select an object to create:<br>
    <ul>
%   foreach my $t ( sort { $a->name cmp $b->name } @t ) {
%     next if( $t->name eq "Meta" );
      <li><a href="create.html?table=<% $t->name %>"><% $t->name %></a>
%   }
    </ul>

% } else {
    <form action="create.html" method="POST">
    <input type="hidden" name="sid" value="<% $sid %>">
    <& form.html, table => $TBL, showdisabled => '0' &>
    <table cellpadding="3" cellspacing="1" border="0">
    <tr align="LEFT">
    <td bgcolor="#FFFFFF" align="CENTER" colspan="3">
    <input name="submit" value="Submit" type="submit">
    </td>
    <td>
    <input name="submit" value="Cancel" type="submit">
    </td>
    </tr>
    </table>
    </form>
% } # if/else table

% #<hr>
% #print Dumper( %session );

<& footer &>
% ####################################################################

<%init>
use lib "/home/netdot/public_html/lib";
use Netdot::DBI;
use Data::Dumper;
use Apache::Session::File;
use Apache::Session::Lock::File;
my( %args, %order, %linksto, %linksfrom );
my( $obj, %session, $TBL, $PREV, $id, $sid );
my $DIR = "/home/netdot/public_html/tmp";
undef( %args );
undef( %order );
undef( %linksto );
undef( %linksfrom );
undef( %session );
undef( $obj );
undef( $TBL );
undef( $PREV );
undef( $id );
undef( $sid );

my $FLAG;
undef($FLAG);
</%init>

<%doc>
create.html

  Arguments:

    table -- name of table to create
    sid   -- session id (used for keeping state while creating objects)
    (column names from any/all tables)

  Possible states:

    - null 
    new page to create any table
    - table is set
    present page to create that table
    - user clicked New on a table page
    present page to create object for New; keep state for previous 
    table page
    - cancel
    user clicks on cancel; should clear all state
    - submit
    if this is the last table, goto confirm page; otherwise, go to 
    last edited table
    

######################################################################
#  $Log: create.html,v $
#  Revision 1.5  2003/05/13 23:36:15  netdot
#  more changes.  still need to remap the confirm stuff to confirm after
#  every click on submit; then go back to previous table or null state
#
#  Revision 1.4  2003/05/12 23:23:58  netdot
#  trying to clean up some of the logic and cover the cases of 'submit',
#  'new', and 'cancel'.  also better document some of the chunks of code.
#
#  Revision 1.3  2003/05/12 16:21:12  netdot
#  *** empty log message ***
#
#  Revision 1.2  2003/05/09 00:01:58  netdot
#  lots of changes, so not sure where to start.  can generally drive
#  through the interface (click on links and they take you places);
#  keeping some state; have a cancel button to kill some state; need to
#  add history links (links to the previous table you were editing if
#  creating a chain of tables; need confirm screen
#
#  Revision 1.1  2003/05/02 17:11:30  netdot
#  Initial revision
#


</%doc>
