<%perl>
# expect name of Table & objects that require sorting
undef( %arg );
foreach my $j ( keys %ARGS ) {
  next if( $ARGS{$j} !~ /\w+/ || $j eq "submit" );
  $arg{$j} = $ARGS{$j};
}
if( $arg{table} ) {
  undef( $META );
  $META = (Meta->search( name => $arg{table} ))[0];
  if( defined( $META ) ) {
    my $i = 1;
    my @tmp;
    ##############################################
    # get the label for this table (as defined in Meta)
    undef( $LBL );
    $LBL = $META->label;
    ##############################################
    # get linksto info
    undef( %linksto );
    map { my($j, $k) = split( /:/, $_ ); $linksto{$j} = $k } 
        split( /,/, $META->linksto );
    ##############################################
    # define order
    undef( %order );
    if( defined( $META->columnorderbrief ) ) {
      @tmp = split( /,/, $META->columnorderbrief );
    } else {
      @tmp = sort { $a cmp $b } $META->name->columns();
    }
    ##############################################
    # remove id and aliases (if present)
    foreach my $c ( @tmp ) {
      next if( $c eq "id" || $c eq "aliases" );
      $order{$c} = $i++;
    }
    ##############################################
    # munge so that label is first 
    if( defined( $LBL ) && length( $LBL ) > 0 ) {
      unless( $order{$LBL} == 1 ) {
        my $j = $order{$LBL};
        my %rev = reverse %order;
        my $k = $rev{2} ;
        $order{$k} = $j;
        $order{$LBL} = 1;
      }
    }
  }
}
</%perl>
% ####################################################################

<!-- begin sortresults -->
% if( defined( $META ) && defined( $arg{object} ) ) {
  <table BORDER="0" CELLSPACING="1" CELPADDING="3" BGCOLOR="whitesmoke" width="100%">
% ####################################################################
%   foreach my $o ( sort { $a->id <=> $b->id } @{ $arg{object} } ) {
%     my $flag = 1;
%     my @order = sort { $order{$a} <=> $order{$b} } keys %order;
%     foreach my $c ( @order ) {
        <tr>
        <td align="RIGHT" valign="TOP" ><b><% $c %></b>: </td>
        <td align="LEFT" valign="TOP">
%       if( exists( $linksto{$c} ) ) {
%         my $ft = (Meta->search( name => $linksto{$c} ))[0];
%         if( ! defined( $ft ) ) {
            No such object <% $linksto{$c} %>
%         } elsif( $o->$c == 0 ) {
            -
%         } elsif( ! defined( $linksto{$c}->retrieve( int( $o->$c ) ) ) ) {
            -
%         } else {
%           my $lbl = $ft->label;
%           if( $flag ) {
              <strong>
              <a href="<% $PAGE %>?table=<% $arg{table} %>&id=<% $o->id %>">
              <% $o->$c->$lbl %>
	      </a>
              </strong>
%           } else {
              <% $o->$c->$lbl %>
%           }
%         }
%       } else {
%         if( $flag ) {
            <strong>
            <a href="<% $PAGE %>?table=<% $arg{table} %>&id=<% $o->id %>">
            <% $o->$c %>
            </a>
            </strong>
%         } else {
            <% $o->$c %>
%         }
%       } # else fi
        </td>
%       if( $flag ) {
%         $flag = 0;
%       }
        </tr>
%     } # for c
      <tr>
      <td colspan=2><br></td>
      </tr>
%   } # for o
% ####################################################################
    </table>
% } # if
<!-- end sortresults -->

% ####################################################################
<%init>
use lib "/home/netdot/public_html/lib";
use Netdot::DBI;
use Data::Dumper;
my( %arg, %order, %linksto, %linksfrom, $META, $LBL );
my $PAGE = "view.html";

</%init>
<%doc>
Supported arguments:

  table  - name of a table in the database
  object - reference to a list of objects in that table for displaying in html

######################################################################
# $Log: sortresults2.html,v $
# Revision 1.2  2003/06/03 22:15:52  netdot
# forked sortresults; major rehack to test different presentation
#
# Revision 1.1  2003/06/03 20:45:22  netdot
# Initial revision
#

</%doc>
