<%perl>
# expect name of Table & objects that require sorting
foreach my $j ( keys %ARGS ) {
  next if( $ARGS{$j} !~ /\w+/ || $j eq "submit" );
  $args{$j} = $ARGS{$j};
}
if( exists( $args{view} ) ) {
  $args{view} = lc( $ARGS{view} );
  if( $args{view} eq "row" || $args{view} eq "column" ) {
    $VIEW = $args{view};
  }
}
if( $args{table} ) {
  undef( $META );
  $META = $gui->getmeta( $args{table} );
  if( defined( $META ) ) {
    my $i = 1;
    my @tmp;
    ##############################################
    # if sort arg; check to make sure column doesn't exist & set SORT
    if( exists( $args{sort} ) ) {
      my(%col);
      map { $col{$_}++ } $args{table}->columns;
      if( ! exists( $col{ $args{sort} } ) ) {
        $SORT = $args{sort};
      }
    }
    ##############################################
    # get the label for this table (as defined in Meta)
    $LBL = ($gui->getlabels( $args{table} ))[0];
    if( ! defined( $SORT ) ) {
      $SORT = $LBL;
    }
    ##############################################
    # get linksto info
    %linksto = $gui->getlinksto( $args{table} );
    ##############################################
    # define order
    %order = $gui->getcolumnorderbrief( $args{table} );
    ##############################################
    # remove id and aliases (if present)
    if( exists( $order{id} ) ) {
      delete( $order{id} );
    }
    if( exists( $order{aliases} ) ) {
      delete( $order{aliases} );
    }
    ##############################################
    # munge so that label is first 
    if( defined( $LBL ) && length( $LBL ) > 0 ) {
      unless( $order{$LBL} == 1 ) {
        my $j = $order{$LBL};
        my %rev = reverse %order;
        my $k = $rev{1} ;
        $order{$k} = $j;
        $order{$LBL} = 1;
      }
    }
  }
}
</%perl>
% ####################################################################

% if( defined( $META ) && defined( $args{object} ) ) {
<!-- begin sortresults -->
     <table BORDER="0" CELLSPACING="0" CELLPADDING="0" BGCOLOR="whitesmoke" width="100%" class="tablebackground">
%    if( $VIEW eq "row" ) {
     <tr>
%       foreach my $o ( sort { $order{$a} <=> $order{$b} } keys %order ) {
           <th><% $o %></th>
%       }
     </tr>
% }
% ####################################################################
% foreach my $o ( sort { $a->$SORT cmp $b->$SORT } @{ $args{object} } ) {
%    my $flag = 1;
%    if( $VIEW eq "row" ) {
        <tr>
%    }
%    my @order = sort { $order{$a} <=> $order{$b} } keys %order;
%    foreach my $c ( @order ) {
%       if( $VIEW eq "column" ) {
          <tr>
             <td align="RIGHT" valign="TOP" WIDTH="100">
                <b><% $c %></b>: 
             </td>
%       }
        <td align="LEFT" valign="TOP">
%          if( exists( $linksto{$c} ) ) {
%             my $ft = $gui->getmeta( $linksto{$c} );
%             if( ! defined( $ft ) ) {
                 No such object <% $linksto{$c} %>
%             } elsif( $o->$c == 0 ) {
                 -
%             } elsif( ! defined( $linksto{$c}->retrieve( int( $o->$c ) ) ) ) {
                 -
%             } else {
%                my $obj = $linksto{$c}->retrieve( int( $o->$c ) );
%                my $lbl = $gui->getobjlabel( $obj, ", " );
%                if( $flag ) {
                    <strong>
                    <a href="<% $PAGE %>?table=<% $args{table} %>&id=<% $o->id %>">
                    <% $lbl %>
	            </a>
                    </strong>
%                } else {
                    <% $lbl %>
%                }
%            }
%          } else {
%             if( $flag ) {
                 <strong>
                 <a href="<% $PAGE %>?table=<% $args{table} %>&id=<% $o->id %>">
                 <% $o->$c %>
                 </a>
                 </strong>
%             } else {
                 <% $o->$c %>
%             }
%          } # else fi
        </td>
%       $flag = 0 if( $flag );
%       if( $VIEW eq "column" ) {
           </tr>
%       }
%     } # for c
%     if( $VIEW eq "column" ) {
         <tr>
            <td colspan=2><br></td>
         </tr>
%     }
%     if( $VIEW eq "row" ) {
         </tr>
%     }
%   } # for o
% ####################################################################
    </table>
<!-- end sortresults -->
% } # if

% ####################################################################
<%args>

%args => undef
%order => undef
%linksto => undef
%linksfrom => undef
$SORT => undef
$META => undef
$LBL => undef
$PAGE => "view.html"
$gui => Netdot::GUI->new()
$VIEW => "column"

</%args>
<%init>
use lib "/home/netdot/public_html/lib";
use Netdot::DBI;
use Netdot::GUI;

</%init>
<%doc>
Supported arguments:

  table  - name of a table in the database
  object - reference to a list of objects in that table for displaying in html
  view   - [row|column]
  sort   - column to sort by

######################################################################
# $Log: sortresults.html,v $
# Revision 1.26  2003/07/12 21:28:33  netdot
# fixed bug where I fix LBL to be first item in list
#
# Revision 1.25  2003/07/12 21:17:49  netdot
# added check to sort to be sure column exists
#
# Revision 1.24  2003/07/11 21:30:06  netdot
# added different sorting mechanism
#
# Revision 1.23  2003/07/11 18:46:58  netdot
# Added css and massaged visual formatting.
#
# Revision 1.22  2003/07/10 23:54:40  netdot
# added css references and massaged formatting
#
# Revision 1.21  2003/06/27 21:04:27  netdot
# more layout fixes
#
# Revision 1.20  2003/06/27 18:40:31  netdot
# back to columnorderbrief
#
# Revision 1.19  2003/06/27 18:03:50  netdot
# removed Data::Dumper
#
# Revision 1.18  2003/06/27 18:03:36  netdot
# cleaned up how VIEW is defined; fixed problem with how label is
# fetched for foreign keys; other minor stuff
#
# Revision 1.17  2003/06/26 22:55:08  netdot
# merging in option to view as a row or as a column
#
# Revision 1.16  2003/06/17 22:17:14  netdot
# made no real changes -miyake
#
# Revision 1.15  2003/06/13 18:39:30  netdot
# merged efforts from sortresults2.html
#
# Revision 1.14  2003/06/13 18:34:43  netdot
# now using GUI.pm
#
# Revision 1.13  2003/06/13 18:07:14  netdot
# moving to <%args>
#
# Revision 1.12  2003/06/02 22:17:32  netdot
# change PAGE to PAGE=view.html
#
# Revision 1.11  2003/05/23 19:06:57  netdot
# changed obj to META
#
# Revision 1.10  2003/05/23 19:05:45  netdot
# major overhaul.  work mostly intended to remove 'id' from display.
# also makes sure that label is first thing displayed.  otherwise, added
# some landmarks and cleaned up the process of displaying each row
#
# Revision 1.9  2003/05/14 23:48:28  netdot
# sort results on display (id in increasing order)
#
# Revision 1.8  2003/05/07 19:08:52  netdot
# fixed problem around line 52 ( $o->$c->id => $o->$c ).  this should
# resolve the strange problem of 'id' not defined'.  also got rid of the
# 'view' stuff (table or expanded).  there is a variable defined with
# the name of the url.  renamed a couple variables out of concern they
# might be in Mason's namespace.
#
# Revision 1.7  2003/05/02 18:53:25  netdot
# Changed references to linksto, linksfrom and columnorderbrief
#
# Revision 1.6  2003/05/01 00:50:03  netdot
# handling case of foreign key == 0
#
# Revision 1.5  2003/05/01 00:38:32  netdot
# added check for when foreign key is 0.  needs testing
#
# Revision 1.4  2003/04/30 23:54:54  netdot
# integrated some changes carlos had made to a different copy of this
# file.  basically, there is some error checking now.
#
# Revision 1.3  2003/04/30 23:30:37  netdot
# if a foreign key, display label instead of the id.
#
# Revision 1.2  2003/04/23 17:39:50  netdot
# now sorting alphabetically if columnOrder not defined.  otherwise, looks good.
#
# Revision 1.1  2003/04/23 17:15:52  netdot
# Initial revision
#
#
</%doc>
