<%perl>
# expect name of Table & objects that require sorting
undef( %arg );
foreach my $j ( keys %ARGS ) {
  next if( $ARGS{$j} !~ /\w+/ || $j eq "submit" );
  $arg{$j} = $ARGS{$j};
}
if( $arg{table} ) {
  undef( $obj );
  $obj = (Meta->search( name => $arg{table} ))[0];
  if( defined( $obj ) ) {
    my $i = 1;
    undef( %order );
    if( defined( $obj->columnOrder ) ) {
      map { $order{$_} = $i++; } split( /,/, $obj->columnOrder );
    } else {
      $order{"id"} = $i++;
      foreach ( sort { $a cmp $b } $obj->name->columns() ) {
        next if( $_ eq "id" );
        $order{$_} = $i++;
      }
    }
    undef( %linksto );
    map { my($j, $k) = split( /:/, $_ ); $linksto{$j} = $k } 
        split( /,/, $obj->linksTo );
    undef( %linksfrom );
    map { my($i, $j, $k) = split( /:/, $_ ); $linksfrom{$i}{$j} = $k } 
        split( /,/, $obj->linksFrom );
  }
}
</%perl>

% if( defined( $obj ) && defined( $arg{object} ) ) {
    <table cellpadding="3" cellspacing="1" border="0" width="100%" bgcolor="#DDDDDD">
    <tr>
%   foreach my $o ( sort { $order{$a} <=> $order{$b} } keys %order ) {
      <th><% $o %></th>
%   }
    </tr>
%   foreach my $o ( @{ $arg{object} } ) {
      <tr>
%     foreach my $c ( sort { $order{$a} <=> $order{$b} } keys %order ) {
        <td align="CENTER" valign="TOP" bgcolor="#FFFFFF">
%       if( $c eq "id" ) {
          <strong>
          <a href="circuit.html?id=<% $o->id %>"><% $o->id %></a>
          </strong>
%       } elsif( $linksto{$c} ) {
%             my $name = (Meta->search( name => $linksto{$c} ))[0]->label;
              <% $o->$c->$name %>
%       } else {
          <% $o->$c %>
%       } # else fi
        </td>
%     } # for c
      </tr>
%   } # for o
    </table>
% } # if



<%init>
use lib "/home/netdot/public_html/lib";
use Netdot::DBI;
use Data::Dumper;
my( %arg, %order, %linksto, %linksfrom, $obj );


</%init>
<%doc>

######################################################################
# $Log: sortresults.html,v $
# Revision 1.3  2003/04/30 23:30:37  netdot
# if a foreign key, display label instead of the id.
#
# Revision 1.2  2003/04/23 17:39:50  netdot
# now sorting alphabetically if columnOrder not defined.  otherwise, looks good.
#
# Revision 1.1  2003/04/23 17:15:52  netdot
# Initial revision
#
#
</%doc>
