<%perl>
# expect name of Table & objects that require sorting
undef( %arg );
foreach my $j ( keys %ARGS ) {
  next if( $ARGS{$j} !~ /\w+/ || $j eq "submit" );
  $arg{$j} = $ARGS{$j};
}
if( ! exists( $arg{"view"} ) ) {
  $arg{view} = "expanded";
}
if( $arg{table} ) {
  undef( $obj );
  $obj = (Meta->search( name => $arg{table} ))[0];
  if( defined( $obj ) ) {
    my $i = 1;
    undef( %order );
    if( defined( $obj->columnorderbrief ) ) {
      map { $order{$_} = $i++; } split( /,/, $obj->columnorderbrief );
    } else {
      $order{"id"} = $i++;
      foreach ( sort { $a cmp $b } $obj->name->columns() ) {
        next if( $_ eq "id" );
        $order{$_} = $i++;
      }
    }
    undef( %linksto );
    map { my($j, $k) = split( /:/, $_ ); $linksto{$j} = $k } 
        split( /,/, $obj->linksto );
    undef( %linksfrom );
    map { my($i, $j, $k) = split( /:/, $_ ); $linksfrom{$i}{$j} = $k } 
        split( /,/, $obj->linksfrom );
  }
}
</%perl>

% if( defined( $obj ) && defined( $arg{object} ) ) {
    <table cellpadding="3" cellspacing="1" border="0" width="100%" bgcolor="#DDDDDD">
    <tr>
%   foreach my $o ( sort { $order{$a} <=> $order{$b} } keys %order ) {
      <th><% $o %></th>
%   }
    </tr>
%   foreach my $o ( @{ $arg{object} } ) {
      <tr>
%     foreach my $c ( sort { $order{$a} <=> $order{$b} } keys %order ) {
        <td align="CENTER" valign="TOP" bgcolor="#FFFFFF">
%       if( $c eq "id" ) {
          <strong>
%         if( $arg{view} eq "expanded" ) {
            <a href="expview.html?table=<% $arg{table} %>&id=<% $o->id %>"><% $o->id %></a>
%         } elsif( $arg{view} eq "table" ) {
            <a href="tblview.html?table=<% $arg{table} %>&id=<% $o->id %>"><% $o->id %></a>
%         } else {
            <a href="expview.html?table=<% $arg{table} %>&id=<% $o->id %>"><% $o->id %></a>
%         }
          </strong>
%       } elsif( exists( $linksto{$c} ) ) {
%         my $t = (Meta->search( name => $linksto{$c} ))[0];
%         if( ! defined( $t ) ) {
            No such object <% $linksto{$c} %>
%         } elsif( $o->$c->id == 0 ) {
	    -
%         } else {
%           my $lbl = $t->label;
            <% $o->$c->$lbl %>
%         }
%       } else {
          <% $o->$c %>
%       } # else fi
        </td>
%     } # for c
      </tr>
%   } # for o
    </table>
% } # if



<%init>
use lib "/home/netdot/public_html/lib";
use Netdot::DBI;
use Data::Dumper;
my( %arg, %order, %linksto, %linksfrom, $obj );


</%init>
<%doc>
Supported arguments:

  table  - name of a table in the database
  object - reference to a list of objects in that table for displaying in html
  view   - table | expanded

######################################################################
# $Log: sortresults.html,v $
# Revision 1.7  2003/05/02 18:53:25  netdot
# Changed references to linksto, linksfrom and columnorderbrief
#
# Revision 1.6  2003/05/01 00:50:03  netdot
# handling case of foreign key == 0
#
# Revision 1.5  2003/05/01 00:38:32  netdot
# added check for when foreign key is 0.  needs testing
#
# Revision 1.4  2003/04/30 23:54:54  netdot
# integrated some changes carlos had made to a different copy of this
# file.  basically, there is some error checking now.
#
# Revision 1.3  2003/04/30 23:30:37  netdot
# if a foreign key, display label instead of the id.
#
# Revision 1.2  2003/04/23 17:39:50  netdot
# now sorting alphabetically if columnOrder not defined.  otherwise, looks good.
#
# Revision 1.1  2003/04/23 17:15:52  netdot
# Initial revision
#
#
</%doc>
