<%perl>
foreach	my $j (keys %ARGS){
	next if ($ARGS{$j} !~ /\w+/ || $j eq 'submit');
	$arg{$j} = $ARGS{$j};	
}	

die "Missing parameters" unless ( $arg{table} && $arg{id} );
$table = $arg{table};
$obj = $table->retrieve($arg{id});

# Get some Meta info
$mi = (Meta->search( name => $arg{table} ))[0];
undef( %linksto );
map { my($j, $k) = split( /:/, $_ ); $linksto{$j} = $k }
   split( /,/, $mi->linksto );
undef( %linksfrom );
map { my($i, $j, $k) = split( /:/, $_ ); $linksfrom{$i}{$j} = $k }
   split( /,/, $mi->linksfrom );
my $i = 1;
undef( %order );
if( defined( $mi->columnorder ) ) {
   map { $order{$_} = $i++; } split( /,/, $mi->columnorder );
} else {
   $order{"id"} = $i++;
   foreach ( sort { $a cmp $b } $mi->name->columns() ) {
      next if( $_ eq "id" );
      $order{$_} = $i++;
   }
}
</%perl>
<p>
<& header, title=>" $table Details" &>

%#  Display-only option
%if( !$arg{edit} ) {

% # First show values that are not foreign keys
<p> 
<table cellpadding="3" cellspacing="1" border="0" bgcolor="CCCCCC">
<tr> 
<td bgcolor="#DDDDDD">id:</td><td><strong><% $obj->id %></strong></td>
</tr>
%   foreach my $c ( sort { $order{$a} <=> $order{$b} } keys %order ) {
%      next if ($c eq 'id');
       <tr> 
       <td bgcolor="#DDDDDD"><% $c %>:</td>
%      if (!exists($linksto{$c}) ){
	  <td><strong><% $obj->$c %></strong></td>
%      }else{
         <td>
         <table cellpadding="3" cellspacing="1" border="0" bgcolor="CCCCCC">
         <tr><td>
%	 my $fkobj;
%	 unless( defined($fkobj = $linksto{$c}->retrieve($obj->$c->id) )){
	 - </td></tr></table> 
%	 next;
%        }
         <& sortresults.html, table => $linksto{$c}, object => [$fkobj]  &>
         </td></tr>
         </table>
	 </td>
%      }
     </tr>
%   }
<tr> 
<td bgcolor="#DDDDDD">related:</td>
<td>
%foreach my $i (keys %linksfrom){
%  my $j;
%  map { $j = $_ } keys %{ $linksfrom{$i} };
   <a href="search_obj.html?table=<% $j %>&<% $linksfrom{$i}{$j} %>=<% $obj %>"><font size="-1"><% $i %></font></a>&nbsp;
%}
</td>
</tr>
<tr> 
<td align="center" colspan="2" bgcolor="#FFFFFF"><a href="expview.html?table=<% $table %>&id=<% $obj %>&edit=1">edit</a></td>
</tr>
</table>

%}elsif( $arg{edit} ) {

   <form action="update.html" method="POST">
   <table cellpadding="3" cellspacing="1" border="0" bgcolor="CCCCCC">
   <tr>
   <td bgcolor="#DDDDDD"><strong>id</strong></td><td><input type="hidden" name="id"><% $obj->id %></input></td>
   </tr>
%  foreach my $c ($table->columns()){
%     next if ($c eq 'id');
%     if (!exists($linksto{$c}) ){  # The column is 'local'
         <tr> 
         <td bgcolor="#DDDDDD"><strong><% $c %>:</strong></td><td><input type="text" size="40" value="<% $obj->$c %>"</td>
	 </tr>
%     } else {  # The column is a foreign key. Provide a list to select.
         <tr>
	 <td bgcolor="#DDDDDD"><strong><% $c %>:</strong></td>
	 <td>
%         my $t = (Meta->search( name => $linksto{$c} ))[0];
%         if( ! defined( $t ) ) {
            No <% $linksto{$c} %> in Meta table
%         } elsif( $obj->$c->id == 0 ) {
	    -
%         } else {
%           my $lbl = $t->label;
            <select name="$c">
	    <option value="<% $obj->$c->id %>" selected><% $obj->$c->$lbl %></option>
%	    my @fkobjs = $linksto{$c}->retrieve_all; 
%	    foreach my $fkobj (@fkobjs){
%	      next if ($fkobj->id == $obj->$c->id);  # exclude current val from list
              <option value="<% $fkobj->id %>"><% $fkobj->$lbl %></option>
%           }
            </select>
	    </td></tr>        
%        } 

%    }
%  }
   </tr>
   <tr><td bgcolor="#FFFFFF"align=center colspan=2>
   <input name="submit" value="Update" type="submit">
   </tr></td>
   </form>
   </table>

%} #endif ($arg{edit})
<p><br>
<& footer &>

<%init>
use lib "/home/netdot/public_html/lib";
use Netdot::DBI;
use Data::Dumper;
my( %arg, %linksto, %linksfrom, $obj, $table, $mi, %order);
               
</%init>
