<%perl>
foreach	my $j (keys %ARGS){
	next if ($ARGS{$j} !~ /\w+/ || $j eq 'submit');
	$arg{$j} = $ARGS{$j};	
}	

unless ( $arg{table} && $arg{id} ){
   print "<strong>Missing required parameters 'table' and/or 'id'</strong>";
   exit;
}
$table = $arg{table};
$obj = $table->retrieve($arg{id});
if ( $arg{view} ) {
  $view = $arg{view};
}else{
  $view = 'all';
}
unless ( $obj ){
   print "<strong>Nonexistent record: $arg{id}</strong>";
   exit;
}

# Get some Meta info
$mi = (Meta->search( name => $table ))[0];
$lbl = $mi->label;
undef( %linksto );
map { my($j, $k) = split( /:/, $_ ); $linksto{$j} = $k }
   split( /,/, $mi->linksto );
undef( %linksfrom );
map { my($i, $j, $k) = split( /:/, $_ ); $linksfrom{$i}{$j} = $k }
   split( /,/, $mi->linksfrom );
my $i = 1;
undef( %order );
if( defined( $mi->columnorder ) ) {
   map { $order{$_} = $i++; } split( /,/, $mi->columnorder );
} else {
   $order{"id"} = $i++;
   foreach ( sort { $a cmp $b } $mi->name->columns() ) {
      next if( $_ eq "id" );
      $order{$_} = $i++;
   }
}

if ($table !~ /_history/){
 # List all the has_many objects for this object
 undef (%ftables);
 foreach my $i (keys %linksfrom){
  my ($j, @tmp, %jlinksto, $col);
  @tmp = $obj->$i;  
  map { $j = $_ } keys %{ $linksfrom{$i} };
  $ftables{$i}{ffield} = $linksfrom{$i}{$j};  #column in the other table that points to this table
  my $mj = ( Meta->search(name => $j) )[0]; #get meta info for other table
  # If foreign table is a join table, try to hide it
  if ( defined($mj) && ($mj->mainobject == 0) ){
     undef( %jlinksto );
     # Get has_a entries 
     map { my($a, $b) = split( /:/, $_ ); $jlinksto{$a} = $b }
        split( /,/, $mj->linksto );
     # Column in join table that points to third table
     map { $col = $_ if ($_ ne $linksfrom{$i}{$j}) } keys %jlinksto;
     map { push @{ $ftables{$i}{robjs} }, $_->$col } @tmp;
     $ftables{$i}{dtbl} = $jlinksto{$col};  # table to display
     $ftables{$i}{ctbl} = $j;               # table to pass to create.html
  }else{  # table is not a join table
     @{$ftables{$i}{robjs}} = @tmp;
     $ftables{$i}{dtbl} = $j;
     $ftables{$i}{ctbl} = $j; 
  }
  if (!scalar(@tmp)){
     $ftables{$i}{robjs} = 0;
  }
 }
}

</%perl>

%my $label = $obj->$lbl;
<& header, title=>" $table Details: $label" &>

<table align="top" border="0" width="97%">
<tr><td colspan="2">
  <table width="100%">
  <tr>
  <td valign="center" align="left" width="20%" >
      <form action="view.html" method="POST">
      <input type="hidden" name="table" value="<% $table %>">
%        my (@objl, $p);
%        my $numrec =  scalar(@objl = map { $_->id } $table->retrieve_all);
%        for (my $i=0; $i < $numrec; $i++) { if ($objl[$i] == $obj->id) { $p = $i; last; }  };
         record <input type="text" size="3" name="id" value="<% $obj->id %>"> of <% $numrec %> 
      </form>
  </td>
  <td valign="top" align="center" width="80%">
      [<a href="view.html?table=<% $table %>&id=<% $objl[0] %>&view=<% $view %>">|&lt;</a>]
      &nbsp;&nbsp;[<a href="view.html?table=<% $table %>&id=<% (($objl[$p-1]) != 0) ? ($objl[$p-1]): $numrec %>&view=<% $view %>">&lt;&lt;</a>]
      &nbsp;&nbsp; [<a href="view.html?table=<% $table %>&id=<% $objl[($p+1)%($numrec)] %>&view=<% $view %>">&gt;&gt;</a>] 
      &nbsp;&nbsp;[<a href="view.html?table=<% $table %>&id=<% $objl[$numrec-1] %>&view=<% $view %>">&gt;|</a>]
  </td>
  </tr>
  </table>
<p><br>
</td></tr>

<tr>
  <!-- Begin left hand menu -->
  <td align="left" valign="top" width="20%">
% if ($table !~ /_history/){
   <table border="0" cellspacing="0" bgcolor="#CCCCCC" width="80%">
    <tr><td>
     <font size="-1">
      <table border="0" cellspacing="0" cellpadding="1" bgcolor="#FFFFFF" width="100%">
        <tr><td bgcolor="#DDDDDD"><strong>View</strong></td></tr>
	<tr><td><font color="#FF0000">&gt;</font> <a href="view.html?table=<% $table %>&id=<% $obj %>&view=all">all</td></tr>
	<tr><td><font color="#FF0000">&gt;</font> <a href="view.html?table=<% $table %>&id=<% $obj %>&view=<% $table %>"><% lc($table) %></a></td></tr>
%	foreach my $i (keys %ftables){
%           if ($ftables{$i}{robjs}){
              <tr><td colspan="2"><font color="#FF0000">&gt;</font> <a href="view.html?table=<% $table %>&id=<% $obj %>&view=<% $i %>"><% $i %></a></td></tr>
%	   }  
%	}
          <tr><td>&nbsp;</td></tr>
   	  <tr><td><font color="#FF0000">&gt;</font> <a href="view.html?table=<% $table %>&id=<% $obj %>&view=history">history</a></td></tr>
	  <tr><td>&nbsp;</td></tr>
%	  if (scalar keys %ftables){
            <tr><td bgcolor="#DDDDDD"><strong>Add to this <% $table %>:</strong></td></tr>
%	      foreach my $i (keys %ftables){
	        <tr>
	          <td><font color="#FF0000">&gt;</font> <a href="create.html?table=<% $ftables{$i}{ctbl} %>&<% $ftables{$i}{ffield} %>=<% $obj %>"><% $i %></a></td>
	        </tr>
%	      }
%         }  
      </table>
     </font>
    </td></tr>
   </table>
% }
  </td>
  <!-- End left hand menu -->

  <td width="100%" align="center" valign="top">

%if ($view eq 'all' || $view eq "$table"){
    <table cellpadding="1" cellspacing="1" border="0" bgcolor="CCCCCC" width="80%">
      <tr>
        <td colspan="2">
         <table bgcolor="#FFFFFF" border="0" width="100%">
          <tr>
           <td align="left" width="20%">&nbsp;</td>
           <td align="center" width="60%"><strong><% $table %></strong></td>
           <td align="right" width="20%">
%	    if ($table !~ /_history/){
	      [<a href="update.html?table=<% $table %>&id=<% $obj %>">edit</a>] 
%	    }
	    [<a href="delete.html?table=<% $table %>&id=<% $obj %>">delete</a>]
	   </td>
          </tr>
         </table>
        </td>
      </tr>
%   foreach my $c ( sort { $order{$a} <=> $order{$b} } keys %order ) {
%      next if ($c eq 'id' || $c eq 'aliases');
       <tr> 
       <td align="right" valign="bottom" bgcolor="#DDDDDD"><% $c %>:</td>
%      if (!exists($linksto{$c}) ){
	  <td><strong><% $obj->$c %></strong></td>
%      }else{
         <td align="left" valign="bottom">
%	    my $fkobj;
%	    unless( defined($obj->$c) && defined($fkobj = $linksto{$c}->retrieve($obj->$c->id) )){
%	       next;
%           }
            <& sortresults.html, table => $linksto{$c}, object => [$fkobj]  &>
	 </td>
%      }
     </tr>
%   }
     </tr>
     </table>
%}

%   foreach my $i (keys %ftables){
%     if ( $ftables{$i}{robjs} ){
%      if ( ($view eq 'all' || $view eq $i ) && $view ne "$table"){
            <p>
            <table cellpadding="0" border="0"  bgcolor="#CCCCCC" width="80%">
	       <tr>
                 <td align="left"><strong><% $i %></strong></td>
	       <tr>
	         <td colspan="2">
	             <& sortresults.html, table => $ftables{$i}{dtbl}, object => $ftables{$i}{robjs}, view => "expanded" &>
	         </td>
	       </tr>
	    </table>
%      }
%     }
%    } 

%  if ( $view eq 'history' ){
%   my $h_table = "$table" . "_history";
%   my $id_f = lc("$table" . "_id");
%   my @h_objs = $h_table->search($id_f => "$obj->id");
    <& sortresults.html, table => $h_table, object => \@h_objs &>
%  } 

</td></tr>
</table>

<p><br>
<& footer &>
<%init>
use lib "/home/netdot/public_html/lib";
use Netdot::DBI;

my( %arg, %linksto, %linksfrom, $obj, $table, $lbl, $view, $mi, %order, @addlinks, %ftables);
               
</%init>

<%doc>

######################################################################
#  $Log: view.html,v $
#  Revision 1.13  2003/06/09 23:02:43  netdot
#  Added logic for viewing an object's history (separate table model)
#
#  Revision 1.12  2003/06/03 01:38:34  netdot
#  Changed layout to include a side menu, among other fixes
#
#  Revision 1.11  2003/05/30 00:18:06  netdot
#  Added browse buttons and many other things.
#  Changing name to view.html
#
#  Revision 1.10  2003/05/23 01:10:11  netdot
#  Took out the object id from the display
#  Added a cancel button in edit option.
#  Ignores 'aliases' fields at display time
#  Hides join tables when referring to has_many objects
#
#  Revision 1.9  2003/05/21 17:59:48  netdot
#  *** empty log message ***
#
#  Revision 1.8  2003/05/14 16:28:02  netdot
#  added id arg to call to form.html
#
#  Revision 1.7  2003/05/14 16:27:34  netdot
#  initial checkin
#

</%doc>
