<%perl>
foreach	my $j (keys %ARGS){
	next if ($ARGS{$j} !~ /\w+/ || $j eq 'submit');
	$arg{$j} = $ARGS{$j};	
}	

unless ( $arg{table} && ($arg{id} || $arg{pos}) ){
   print "<strong>Missing required parameters 'table' and/or 'id'</strong>";
   exit;
}
$table = $arg{table};

if ($arg{pos}){
    my @objl = map { $_->id } $table->retrieve_all;
    $id = $objl[$arg{pos} - 1];
}else{
    $id = $arg{id};
}
$obj = $table->retrieve($id);
if ( $arg{view} ) {
  $view = $arg{view};
}else{
  $view = 'all';
}
unless ( $obj ){
   print "<strong>Nonexistent record: $id</strong>";
   exit;
}

%linksto = $gui->getlinksto($table);
%linksfrom = $gui->getlinksfrom($table);
%order = $gui->getcolumnorder($table);

if ($table !~ /_history/){
 # List all the has_many objects for this object
 undef (%ftables);
 foreach my $i (keys %linksfrom){
  my ($j, @tmp, %jlinksto, $col);
  @tmp = $obj->$i;  
  map { $j = $_ } keys %{ $linksfrom{$i} };
  $ftables{$i}{ffield} = $linksfrom{$i}{$j};  #column in the other table that points to this table
#  my $mj = ( Meta->search(name => $j) )[0]; #get meta info for other table
### If foreign table is a join table, try to hide it
### THIS MUST CHANGE TO USE THE MAPPING FEATURE FROM CLASS::DBI INSTEAD
  if ( $gui->isjointable($j) ){
     undef( %jlinksto );
     # Get has_a entries 
#     map { my($a, $b) = split( /:/, $_ ); $jlinksto{$a} = $b }
#        split( /,/, $mj->linksto );
     %jlinksto = $gui->getlinksto($j);
     # Column in join table that points to third table
     map { $col = $_ if ($_ ne $linksfrom{$i}{$j}) } keys %jlinksto;
     map { push @{ $ftables{$i}{robjs} }, $_->$col } @tmp;
     $ftables{$i}{dtbl} = $jlinksto{$col};  # table to display
     $ftables{$i}{ctbl} = $j;               # table to pass to create.html
  }else{  # table is not a join table
     @{$ftables{$i}{robjs}} = @tmp;
     $ftables{$i}{dtbl} = $j;
     $ftables{$i}{ctbl} = $j; 
  }
  if (!scalar(@tmp)){
     $ftables{$i}{robjs} = 0;
  }
 }
}

my $h_table = "$table" . "_history";
my $h_meta = $gui->getmeta($h_table);

</%perl>

% my $labelstr = $gui->getobjlabel($obj, ", ");
<& header, title=>" View: $table: $labelstr" &>
<table valign="top" border="0" height="100%" width="95%">
<tr><td colspan="2">
  <table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
  <td valign="center" align="left" width="20%" >
      <form action="view.html" method="POST">
      <input type="hidden" name="table" value="<% $table %>">
%        my (@objl, $p);
%        my $numrec =  scalar(@objl = map { $_->id } $table->retrieve_all);
%        for (my $i = 0; $i < $numrec; $i++) { if ($objl[$i] == $obj->id) { $p = $i; last; }  };
         record <input type="text" size="3" name="pos" value="<% $p + 1 %>"> of <% $numrec %> 
      </form>
  </td>
  <td valign="top" align="center" width="80%">
      [<a href="view.html?table=<% $table %>&id=<% $objl[0] %>&view=<% $view %>">|&lt;</a>]
      &nbsp;&nbsp;[<a href="view.html?table=<% $table %>&id=<% (($objl[$p-1]) != 0) ? ($objl[$p-1]): $numrec %>&view=<% $view %>">&lt;&lt;</a>]
      &nbsp;&nbsp; [<a href="view.html?table=<% $table %>&id=<% $objl[($p+1)%($numrec)] %>&view=<% $view %>">&gt;&gt;</a>] 
      &nbsp;&nbsp;[<a href="view.html?table=<% $table %>&id=<% $objl[$numrec-1] %>&view=<% $view %>">&gt;|</a>]
  </td>
  </tr>
  </table>
<!--<p><br>-->
</td></tr>

<tr>
  <!-- Begin left hand menu -->
  <td align="left" valign="top" width="15%">
% if ($table !~ /_history/){
   <table border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC" height="100%" width="100%" class="rowtitle1">
   <tr><td valign="top">
     <font size="-1">
      <table border="0" cellspacing="0" cellpadding="1" bgcolor="#FFFFFF" width="100%" class="tablebackground">
        <tr class="rowtitle0">
           <td bgcolor="#DDDDDD" class="rowtitle0">
              <strong>View</strong>
           </td>
        </tr>
	<tr class="rowtitle1">
           <td>
              <font color="#FF0000">&gt;</font> <a href="view.html?table=<% $table %>&id=<% $obj %>&view=all">all
           </td>
        </tr>
	<tr class="rowtitle1">
           <td>
              <font color="#FF0000">&gt;</font> <a href="view.html?table=<% $table %>&id=<% $obj %>&view=<% $table %>"><% lc($table) %></a>
           </td>
        </tr>

%	foreach my $i (keys %ftables){
%           if ($ftables{$i}{robjs}){
              <tr class="rowtitle1">
                 <td colspan="2">
                    <font color="#FF0000">&gt;</font> <a href="view.html?table=<% $table %>&id=<% $obj %>&view=<% $i %>"><% $i %></a>
                 </td>
              </tr>
%	   }  
%	}
%	  if ( defined($h_meta) ){  # only if there's a history table.
   	     <tr class="rowtitle1">
                <td>
                   <font color="#FF0000">&gt;</font> <a href="view.html?table=<% $table %>&id=<% $obj %>&view=history">history</a>
                </td>
             </tr>
%	  }
%	  if (scalar keys %ftables){
            <tr class="rowtitle0">
               <td bgcolor="#DDDDDD" class="rowtitle0">
                  <strong>Add to this <% $table %>:</strong>
               </td>
            </tr>
%	    foreach my $i (keys %ftables){
	       <tr class="rowtitle1">
	          <td>
                     <font color="#FF0000">&gt;</font> <a href="create.html?table=<% $ftables{$i}{ctbl} %>&<% $ftables{$i}{ffield} %>=<% $obj %>"><% $i %></a>
                  </td>
	       </tr>
%	      }
%         }  
      <!-- JKM -->
      </table>
     </font>
    </td></tr>
   </table>
% }
  </td>
  <!-- End left hand menu -->

  <td width="100%" align="center" valign="top">

<!-- Display main object values -->

%if ($view eq 'all' || $view eq "$table"){
   <table border="0" cellpadding="0" cellspacing="0" border="0" bgcolor="#CCCCCC" width="100%" class="tablebackground">
      <tr>
         <td colspan="3">
            <table border="0" cellspacing="0" cellpadding="1" width="100%" class="tablebackground">
            <tr class="tabletitle">
               <td align="left" width="20%">&nbsp;</td>
               <td align="center" width="60%"><strong><% $table %></strong></td>
               <td align="right" width="20%">
%	          if ($table !~ /_history/){
	             [<a href="update.html?table=<% $table %>&id=<% $obj %>">edit</a>] 
%	          }
	          [<a href="delete.html?table=<% $table %>&id=<% $obj %>">delete</a>]
	       </td>
            </tr>
            </table>
         </td>
      </tr>
      <tr><td colspan="3" class="delimiter"></td>
%   foreach my $c ( sort { $order{$a} <=> $order{$b} } keys %order ) {
%      next if ($c eq 'id' || $c eq 'aliases');
       <tr> 
       <td width="20%" align="right" valign="top" bgcolor="#DDDDDD" class="column1"><% $c %>:</td>
       <td class="delimiter" width="1"><BR></td>
%      if (!exists($linksto{$c}) ){  ## Column is local
%          if ( $gui->getsqltype($table,$c) =~ /bool/ ){
%	      if ($obj->$c){
	         <td><strong>yes</strong></td>
%	      }else{
	         <td><strong>no</strong></td>
%	      }
%	   }elsif ($c eq "info"){
	      <td class="column2"><pre><% $obj->$c %></pre></td>
%	   }else{
	      <td class="column2"><strong><% $obj->$c %></strong></td>
%	   }
%      } else {  # Column is foreign key
         <td align="left" valign="bottom">
%	    my $fkobj;
%	    unless ( $obj->$c && ref($obj->$c) ){
%	       next;
%	    }
%	    unless( defined($fkobj = $linksto{$c}->retrieve($obj->$c->id) )){
%	       next;
%           }
            <& sortresults.html, table => $linksto{$c}, object => [$fkobj], view => "row"   &>
	 </td>
%      }
     </tr>
%   }
     </tr>
     </table>
%}
<!-- End Display main object values -->


<!-- Display has_many objects -->

%   foreach my $i (keys %ftables){
%     if ( $ftables{$i}{robjs} ){
%      if ( ($view eq 'all' || $view eq $i ) && $view ne "$table"){
            <p>
            <table cellpadding="0" border="0"  bgcolor="#CCCCCC" width="80%" class="tablebackground">
	       <tr>
                 <td align="left" class="rowtitle1"><strong><% $i %></strong></td>
	       <tr>
	         <td colspan="2">
	             <& sortresults.html, table => $ftables{$i}{dtbl}, object => $ftables{$i}{robjs}, view => "row" &>
	         </td>
	       </tr>
	    </table>
%      }
%     }
%    } 

<!-- End Display has_many objects -->

<!-- Display history objects associated with this object-->

%  if ( $view eq 'history' ){
%   my $id_f = lc("$table" . "_id");
%   my @h_objs = $h_table->search($id_f => "$obj->id");
    <& sortresults.html, table => $h_table, object => \@h_objs , view => "row" &>
%  } 

<!-- End Display history objects -->

</td></tr>
</table>

<p><br>
<& footer &>
<%init>
use lib "/home/netdot/public_html/lib";
use Netdot::DBI;
use Netdot::GUI;
my( %arg, %linksto, %linksfrom, $id, $obj, $prevobj, $table, $view, %order, %ftables);

my $gui = Netdot::GUI->new();
             
</%init>

<%doc>

######################################################################
#  $Log: view.html,v $
#  Revision 1.30  2003/07/16 21:15:13  netdot
#  changed left hand menu sizing from 15 to 20 -miyake
#
#  Revision 1.29  2003/07/16 21:11:58  netdot
#  changed left hand menu from width 80 to 100 -miyake
#
#  Revision 1.28  2003/07/16 18:24:39  netdot
#  Added some comments
#
#  Revision 1.27  2003/07/15 23:34:10  netdot
#  massage formatting -miyake
#
#  Revision 1.26  2003/07/14 21:38:22  netdot
#  Changed some calls to Meta info
#
#  Revision 1.25  2003/07/14 19:01:19  netdot
#  added css tags and massaged appearance -miyake
#
#  Revision 1.24  2003/07/11 17:55:46  netdot
#  Added more css tags. -miyake
#
#  Revision 1.23  2003/07/11 02:19:15  netdot
#  Added extra checks for foreign objects
#
#  Revision 1.22  2003/07/10 23:22:57  netdot
#  Added more css tags and massaged formatting -jkm
#
#  Revision 1.21  2003/07/10 21:48:45  netdot
#  Removed some table rows
#
#  Revision 1.20  2003/07/08 22:56:28  netdot
#  Added some css tags -miyake
#
#  Revision 1.19  2003/07/07 21:34:01  netdot
#  Fixed problem with form that calls for a specific record.
#
#  Revision 1.18  2003/06/27 15:35:46  netdot
#  *** empty log message ***
#
#  Revision 1.17  2003/06/24 21:25:22  netdot
#  *** empty log message ***
#
#  Revision 1.16  2003/06/10 22:20:51  netdot
#  Went back to duplicate-table model for history.
#  Also kept some fixes from previous version
#
#  Revision 1.13  2003/06/09 23:02:43  netdot
#  Added logic for viewing an object's history (separate table model)
#
#  Revision 1.12  2003/06/03 01:38:34  netdot
#  Changed layout to include a side menu, among other fixes
#
#  Revision 1.11  2003/05/30 00:18:06  netdot
#  Added browse buttons and many other things.
#  Changing name to view.html
#
#  Revision 1.10  2003/05/23 01:10:11  netdot
#  Took out the object id from the display
#  Added a cancel button in edit option.
#  Ignores 'aliases' fields at display time
#  Hides join tables when referring to has_many objects
#
#  Revision 1.9  2003/05/21 17:59:48  netdot
#  *** empty log message ***
#
#  Revision 1.8  2003/05/14 16:28:02  netdot
#  added id arg to call to form.html
#
#  Revision 1.7  2003/05/14 16:27:34  netdot
#  initial checkin
#

</%doc>
