body {
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
    background-color: #FFFFFF;
    color: #000000;
/*    font-family: Arial, Helvetica, sans-serif;
    border-top: 2px solid; */
}


#header {
    border-bottom: 4px solid #c2bed8;
    height: 4em;
//    width: 95%;
//    text-align: center;
}
#header .userinfo {
    background-color: transparent;
    float: right;
    margin-right: 1em;
    margin-top: 0.5em; 
}
#header .logo {
    float: left;
    margin-left: 0.5em;
    margin-top: 0.5em;
}
#header form {
    display: inline;
}
#header a:link, #header a:visited {
    text-decoration: none;
}
#header a:active, #header a:hover {
    text-decoration: underline;
}



#subheader {
    height: 1em;
}
#subheader .time {
    float: right;
    margin-right: 1em;
    margin-top: 0.5em;
}
#subheader .host {
    float: left;
    margin-left: 0.5em;
    margin-top: 0.5em;
}


ul#navigation {
    list-style-type: none;
    margin: 0;
    padding-left: 20px;
    padding-bottom: 28px;
    border-bottom: 1px solid #000000;
    font-size: 1.1em;
}
ul#navigation li {
    float: left;
    height: 25px;
    display: inline;
    background-color: #c2bed8;
    color: #000000;
    margin: 2px 2px 0 2px;
    border: 1px solid #000000;
}
ul#navigation a:link, ul#navigation a:visited {
    display: block;
    color: #000000;
    background-color: transparent;
    text-decoration: none;
    padding: 4px;
}
ul#navigation a:hover {
    color: #000000;
    background-color: #ffffff;
}


body#main li.main, 
body#management li.management,
body#operations li.services, 
body#operations li.operations,
body#cableplant li.cableplant, 
body#generic li.generic,
body#reports li.reports, 
body#.help li.help {
    border-bottom: 1px solid #000000;
    color: #000000;
    background-color: #FFFFFF;
}



body#main li.main a:link, 
body#main li.main a:visited,
body#management li.management a:link, 
body#management li.management a:visited,
body#operations li.operations a:link, 
body#operations li.operations a:visited,
body#cableplant li.cableplant a:link,
body#cableplant li.cableplant a:visited,
body#generic li.generic a:link,
body#generic li.generic a:visited,
body#reports li.reports a:link, 
body#reports li.reports a:visited, 
body#help li.help a:link,
body#help li.help a:visited {
    color: #000000;
    background-color: #FFFFFF;
}


#content {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    padding: 10px 5px 6px 5px;
}

#content h3 {
    font-size: 1.2em;
    background-color: transparent;
}
