
  .bodytag	    { background-color: #FFFFFF; }
          a:link           {text-decoration: none; color:blue}
          a:visited        {text-decoration: none; color:purple}
          a:active         {text-decoration: underline;}
          a:hover          {text-decoration: underline;}
	  


  .headertable      { background-color: #FFFFFF;  }
          a.headerfont:link           {text-decoration: none; color:#FFFFFF}
          a.headerfont:visited        {text-decoration: none; color:#CCCCCC}
          a.headerfont:active         {text-decoration: underline;}
          a.headerfont:hover         {text-decoration: underline;}
	   .headerfont                { color: #FFFFFF }

  .footertable      { background-color: #FFFFFF; }
          a.footerfont:link           {text-decoration: none; color:#FFFFFF}
          a.footerfont:visited        {text-decoration: none; color:#CCCCCC}
          a.footerfont:active         {text-decoration: underline;}
          a.footerfont:hover         {text-decoration: underline;}
	   .footerfont                { color: #FFFFFF }

  .utilitytable     { background-color: #FFFFFF; }
          a.utilityfont:link           {text-decoration: none; color:#000000}
          a.utilityfont:visited        {text-decoration: none; color:#CCCCCC}
          a.utilityfont:active         {text-decoration: underline;}
          a.utilityfont:hover         {text-decoration: underline;}
	   .utilityfont                { color: BLACK }

  .delimiter        { background-color: #c2bed8; }
  .searchbox        { background-color: #CCCCCC; }

  .tabletitle       { background-color: #c2bed8; text-align: left}
  .tablebackground  { background-color: #e7e6f2; text-align: left}
  .margins          { background-color: #e7e6f2; width: 95%; }

  .formtablebg	    { background-color: #EEEEDD; text-align: left}
  .formtabletitle   { background-color: #e5dece; text-align: left}
  .formtabletl	    { background-color: #6ab1f0; text-align: left}
  .formtablec1	    { background-color: #EEEEDD; text-align: right}
  .formtablec2	    { background-color: #E6E6DC; text-align: left}

  .submissionrow { background-color: #FFFFFF; text-align: left }

  .rowtitle0        { background-color: #c2bed8;       text-align: left }
  .rowtitle1        { background-color: #EEEEDD;       text-align: left }
  .rowtitle2        { background-color: #E6E6DC;       text-align: left }
  .rowtitle3        { background-color: #FFFFFF;       text-align: left }

  .column1          { background-color: #EEEEDD;    text-align: right; text-valign=top }
  .column2          { background-color: #E6E6DC;    text-align: left;  text-valign=top }


  .red { background-color: red;}

#header {
   position: absolute;
   top: 0px;
   left: 0px;
   right: 0px;
   width: 100%;
   height: 75px;
   padding: 3px;
   z-index: 5;
   border-bottom: 2px solid #BBBBBB;
}
#headerinfo {
   position : absolute;
   top: 5px;
   right: 20px;
   z-index: 10;
}
#logo {
   position: absolute;
   top: 5px;
   left: 10px;
   border: 10px;
   width: 50%;
   z-index: 10;
   background-color: rgb(95%,85%,85%);
   background: transparent url(img/title.jpg) top left no-repeat;
}
#logo a img {
   width: 90px;
   height: 30px;
   border: 0px;
}
#body {
   margin: 200px 0px 0px 0px;
   line-height: 150%;
   padding-top: 5px;
   width: 90%;
}
