
  .bodytag	    { background-color: #FFFFFF; }
          a:link           {text-decoration: none; color:blue}
          a:visited        {text-decoration: none; color:purple}
          a:active         {text-decoration: underline;}
          a:hover          {text-decoration: underline;}

  .bannertable      { background-color: #000000; }
          a.bannerfont:link           {text-decoration: none; color:#FFFFFF}
          a.bannerfont:visited        {text-decoration: none; color:#CCCCCC}
          a.bannerfont:active         {text-decoration: underline;}
          a.bannerfont:hover          {text-decoration: underline;}
 	   .bannerfont                { color: #FFFFFF }

  .headertable      { background-color: #000000;  }
          a.headerfont:link           {text-decoration: none; color:#FFFFFF}
          a.headerfont:visited        {text-decoration: none; color:#CCCCCC}
          a.headerfont:active         {text-decoration: underline;}
          a.headerfont:hover         {text-decoration: underline;}
	   .headerfont                { color: #FFFFFF }

  .footertable      { background-color: #FFFFFF; }
          a.footerfont:link           {text-decoration: none; color:#FFFFFF}
          a.footerfont:visited        {text-decoration: none; color:#CCCCCC}
          a.footerfont:active         {text-decoration: underline;}
          a.footerfont:hover         {text-decoration: underline;}
	   .footerfont                { color: #FFFFFF }

  .utilitytable     { background-color: #000000; }
          a.utilityfont:link           {text-decoration: none; color:#FFFFFF}
          a.utilityfont:visited        {text-decoration: none; color:#CCCCCC}
          a.utilityfont:active         {text-decoration: underline;}
          a.utilityfont:hover         {text-decoration: underline;}
	   .utilityfont                { color: WHITESMOKE }

  .delimiter        { background-color: #BBBBBB; }
  .searchbox        { background-color: #CCCCCC; }

  .tabletitle       { background-color: #6ab1f0; text-align: left}
  .tablebackground  { background-color: WHITESMOKE; text-align: left}

  .formtablebg	    { background-color: #CCCCCC; text-align: left}
  .formtabletl	    { background-color: #6ab1f0; text-align: left}
  .formtablec1	    { background-color: #FFFFFF; text-align: right}
  .formtablec2	    { background-color: #CCCCCC; text-align: left}

  .submissionrow { background-color: #FFFFFF; text-align: left }

  .rowtitle0        { background-color: #6ab1f0;       text-align: left }
  .rowtitle1        { background-color: #DDDDDD;       text-align: left }
  .rowtitle1        { background-color: #6699CC;       text-align: left }
  .rowtitle2        { background-color: WHITESMOKE;    text-align: left }
  .rowtitle3        { background-color: #FFFFFF;       text-align: left }

  .column1          { background-color: "#6699CC";    text-align: right; text-valign=top }
  .column2          { background-color: "WHITESMOKE"; text-align: left;  text-valign=top }


  .red { background-color: red;}

