/* $Id$ */

/* Color scheme

    text:
        #000000 (default)
        #006600 (links)
        #009900 (hover links)

    backgrounds/borders:
        #aaccaa (darkest green)
        #ddeedd (green)
        #ffffee (general background)

*/

.empty000000 {

}


body {
    padding: 0;
    background-color: #FFFFFF;
    color: #000000;
    height: 100%;
    font-size: 13px;
    font-family: verdana, arial, sans-serif;
    margin: 5px;
}

a {
    color: #006600;
    text-decoration: none;
}
a:hover {
    color: #009900;
    text-decoration: underline;
}


table {
    padding: 0;
    border: 0;
    width: 100%;
    text-align: left;
}
table.tablebackground { 
    background-color: #ffffee; 
}


tr {
    text-align: left;
}
tr.rowtitle0 {
    background-color: #aaccaa; 
}
tr.rowtitle1 {
    background-color: #ffffee;
}
tr.rowtitle2 { 
    background-color: #fff6dd;
}
tr.rowtitle3 { 
    background-color: #FFFFFF;
}
tr.submissionrow { 
    background-color: #FFFFFF; 
}
tr.formtabletitle { 
    background-color: #ddeedd;
}


td {
    text-align: left;
    align: center;
    font-size: 13px;
    vertical-align: top;
}
td.center {
    text-align: center;
    background-color: #E6E6DC;
}
td.delimiter { 
    background-color: #c2bed8;
    width: 1px;
}
    
th {
    font-size:13px;
    font-weight:bold;
}


#header {
    height: 80px;
}
#header .headleft {
    float: left;
}
#header .headright {
    background-color: transparent;
    float: right;
}
#header hr {
    border: none;
    background-color: #aaccaa; /* for mozilla */
/*    color: #aaccaa;            /* for ie */
    margin-top: 10px;
    clear: both;
    height: 1px;
    width: 100%;
}
#header form {
    display: inline;
}
#header a:link, #header a:visited {
    text-decoration: none;
}
#header a:active, #header a:hover {
    text-decoration: underline;
}


#navbar {
    position: relative;
    witdh: 100%;
    height: 23px;
    background: #ddeedd;
    border-bottom: 1px solid #006600;
    border-top: 1px solid #006600;
    font-size: 0.9em;
    margin-bottom: 30px;
}
#navbar ul#navigation {
    margin: 0px;
    padding: 0px;
    position: absolute;
    width: 100%;
}
#navbar ul#navigation li {
    display: inline;
    list-style: none;
}
#navbar ul#navigation a, 
#navbar ul#navigation span, 
#navbar ul#navigation a.current {
    display: block;
    float: left;
    padding: 2px 10px 3px 10px;
    margin: 0px 2px 3px 0px;
    text-align: center;
    text-decoration: none;
}
#navbar ul#navigation span, 
#navbar ul#navigation a.current, 
#navbar ul#navigation a.current:hover {
    color: #000000;
    background: #aaccaa; 
}
#navbar ul#navigation a {
    color: #555555;
    background: #ddeedd;
}
#navbar ul#navigation a:hover {
    color: #000000;
    border-color: #000000;
    background: #aaccaa;
}
#navbar ul#navigation a:hover,
#navbar ul#navigation a, 
#navbar ul#navigation span, 
#navbar ul#navigation a.current {
    padding-bottom: 3px;
}


#navbar ul#subnavigation {
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 24px;
    width: 100%;
    background: #aaccaa;
    font-size: .95em;
    border-bottom: 1px solid #000000;
}
#navbar ul#subnavigation li a,
#navbar ul#subnavigation li span {
    width: auto;
    display: block;
    float: left;
    padding: 2px 10px 2px 10px;
    margin: 0px;
    text-align: auto;
    background: #aaccaa;
    border: none;
    border-right: 1px dotted #000000;
    font-size: 1em;
}
#navbar ul#subnavigation li a {
    color: #003300;
    text-decoration: underline; 
}
#navbar ul#subnavigation li a:hover {
    background: transparent;
    padding: 2px 10px 2px 10px;
    text-decoration: underline;
    border: none;
    border-right: 1px dotted #000000;
}
#navbar ul#subnavigation li a:active {
    color: #000000;
    background: transparent;
}
#navbar ul#subnavigation li:last-child a,
#navbar ul#subnavigation li:last-child span { 
    border: none; 
}




html>body, html>body #contents {
    height: auto;
}
#content {
    clear: left;
/*
    margin-bottom: 3em;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    padding: 10px 5px 6px 5px;
    height: 100%;
    background-color: #f2f2f2;
    float: left; /* lame css hack... see note at bottom */
    margin-right: 5px;
*/
}
#content h3 {
    font-size: 1.2em;
    background-color: #c2bed8;
    width: 100%;
}


#sectiontools {
/*
    padding: 5px 5px 5px 5px;
    background-color: #f2f2f2;
    margin-bottom: 3em;
*/
}
#sectiontools fieldset {
    border: 2px solid #aaccaa;
    border-top: 15px solid #aaccaa;
    background-color: #ffffee;
    margin-left: 0px;
    margin-bottom: 10px;
    padding: 10px;
    float: left; /* lame css hack... see note at bottom */
}
#sectiontools fieldset.medium {
    width: 45%;
}
#sectiontools fieldset.small {
    width: auto;
}
#sectiontools legend {
    font: bold 0.9em tahoma, verdana, sans-serif;
    background-color: #aaccaa; /* this should be whatever border is above under "#sectiontools fieldset" */
}
#sectiontools input.txt {
    color: #003300;
    border: 1px inset #006600;
    width: 120px;
}
#sectiontools input.btn {
    color: #003300;
    border: 1px outset #006600;
    text-align: right;
}
#sectiontools form p {
    clear: left;
    margin: 0;
    padding: 0;
    padding-top: 5px;
}
#sectiontools form p label {
    float: left;
    width: 35%;
}


#sectiondetail {
    clear: left;
/*
    padding: 5px 5px 5px 5px;
    background-color: #f2f2f2;
    margin-bottom: 3em;
    float: left;
*/
}





.container {
    clear: both;
    background-color: #ffffee;
    border: 3px #ddeedd solid;
    margin-bottom: 5px;
}

.containerheadleft {
    float: left;
    background-color: #ddeedd;
    font: bold 0.9em tahoma, verdana, sans-serif;
}

.containerheadright {
    text-align: right;
    background-color: #ddeedd;
    font-size: 0.9em;
}

.containerhead {
    background-color: #ddeedd;
    font: bold 0.9em tahoma, verdana, sans-serif;
}

.containerbody {
    clear: both;
}



.containeroutside {
    clear: both;
    background-color: #ffffee;
    border: 3px #aaccaa solid;
    float: left;
}

.containerheadleftoutside {
    float: left;
    background-color: #aaccaa;
    font: 1em tahoma, verdana, sans-serif;
    padding: 2px;
}

.containerheadrightoutside {
    text-align: right;
    background-color: #aaccaa;
    font-size: 0.9em;
    padding: 2px;
}

.containerheadoutside {
    background-color: #cceecc;
    font: bold 0.9em tahoma, verdana, sans-serif;
    paddingL 2px;
}

.containerbodyoutside {
    clear: both;
    padding: 4px;
}



  .formtablec1	    { background-color: #ffffee; text-align: right}
  .formtablec2	    { background-color: #f0f7e9; text-align: left}
  .formtabletitle   { background-color: #ffffee; text-align: left; font-weight: bold; }
  .datatabler1      { background-color: #ffffee; }
  .datatabler2      { background-color: #f0f7e9; }


#footer {
    width: 100%;
    height: 3em;
    margin-top: 10px;
    border-top: 1px solid #aaccaa;
    font-size: 70%;
    clear: both;
}
#footer p {
    margin: 0;
    padding: 0;
}
#footer a:link, #header a:visited {
    text-decoration: none;
}
#footer a:active, #header a:hover {
    text-decoration: underline;
}








/*
          a:link           {text-decoration: none; color:blue}
          a:visited        {text-decoration: none; color:purple}
          a:active         {text-decoration: underline;}
          a:hover          {text-decoration: underline;}
	  


  .headertable      { background-color: #FFFFFF;  }
          a.headerfont:link           {text-decoration: none; color:#FFFFFF}
          a.headerfont:visited        {text-decoration: none; color:#CCCCCC}
          a.headerfont:active         {text-decoration: underline;}
          a.headerfont:hover         {text-decoration: underline;}
	   .headerfont                { color: #FFFFFF }

  .footertable      { background-color: #FFFFFF; }
          a.footerfont:link           {text-decoration: none; color:#FFFFFF}
          a.footerfont:visited        {text-decoration: none; color:#CCCCCC}
          a.footerfont:active         {text-decoration: underline;}
          a.footerfont:hover         {text-decoration: underline;}
	   .footerfont                { color: #FFFFFF }

  .utilitytable     { background-color: #FFFFFF; }
          a.utilityfont:link           {text-decoration: none; color:#000000}
          a.utilityfont:visited        {text-decoration: none; color:#CCCCCC}
          a.utilityfont:active         {text-decoration: underline;}
          a.utilityfont:hover         {text-decoration: underline;}
	   .utilityfont                { color: BLACK }

*/

  .searchbox        { background-color: #CCCCCC; }

  .tabletitle       { background-color: #c2bed8; text-align: left}


  .formtablebg	    { background-color: #ffffee; text-align: left}

  .formtabletl	    { background-color: #6ab1f0; text-align: left}



  
  



  .column1          { background-color: #EEEEDD;    text-align: right; text-valign=top }
  .column2          { background-color: #E6E6DC;    text-align: left;  text-valign=top }


  .red { background-color: red;}


/* note on float css hack:
In Firefox, a div block containing an input tag doesn't stretch
its width when the input tag is too big for the block.
The result is the tag explodes out of the containing
block, messing up the borders and background.
Note, IE doesn't have this problem.
*/
